body{
    background-color: rgb(228, 228, 228);
}

.welcome{
    padding-top: 50px;
    text-align: center;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }